[[source]]
url = "https://pypi.org/simple"
name = "pypi"
verify_ssl = true

[packages]
docker = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
mock = "*"
twine = "*"
isort = "*"
black = "*"
flake8 = ">3.6.0"

[requires]
python_version = "*"
