[[source]]
url = "https://pypi.org/simple"
name = "pypi"
verify_ssl = true

[packages]
docker = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
mock = "*"
twine = "*"

[requires]
python_version = "*"
