[[source]]
url = "https://pypi.org/simple"
name = "pypi"
verify_ssl = true

[packages]
docker = "*"
six = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
mock = "*"
tox-pyenv = "*"
tox-pipenv = "*"

[requires]
python_version = "*"
